ul,
ul {
    list-style: none;
}

.siderbar {
    position: fixed;
    width: 15%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #042331;
    transition: all 0.5s;
    z-index: 998;
}

.siderbar h1 {
    margin: 0;
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    user-select: none;
    font-size: 20px;
    color: #fff;
    background-color: #063146;
    border-bottom: 1px solid black;
}
.siderbar ul {
    overflow: hidden;
}
.siderbar ul a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid black;
    color: #aaa;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.5s;
}
.siderbar li a i {
    margin-right: 20px;
}
.siderbar ul a:hover {
    margin-left: 10px;
    color: #eee;
}

